{% extends "layout.html" %}
{% load static %}
{% block nav-home %}
<li class="nav-item active">
    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
</li>
{% endblock nav-home %} 

{% block body %}
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        {% for course in Course %}
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="{{course.thumbnail.url}}" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">{{course.category}}</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{{course.title}}</h1>
              <p class="leading-relaxed mb-3">{{course.desc}}</p>
              <div class="flex items-center flex-wrap ">
                {% if request.user in course.enrolled_users.all %}
                <a href="/viewMaterial/{{course.id}}">
                  <button type="button" class="btn btn-info">View Material</button>
                </a>
                {% else %}
                  <a onclick="return enroll('{{course.id}}')" href="/enroll/{{course.id}}">
                    <button type="button" class="btn btn-success">Enroll</button>
                  </a>
                {% endif %}
                <span class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>{{course.enrolled_count}}
                </span>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</section>
<script>
  function enroll(id){
    let firm = confirm('Are you sure you want to enroll ?');
    if(firm){
      return true;
    } else{
      return false;
    }
  }
</script>
{% endblock %}