{% extends "layout.html" %}

{% block style %}
<style>
    .username{
        margin-top: 53px;
        font-size: xxx-large;
        font-weight: unset;
    }
</style>
{% endblock style %}

{% block body %}
<center><h1 class="username" style="padding-bottom: 14px;">{{request.user.username}}</h1></center>
<hr>
<center><h1 class="username">Enrolled Courses</h1></center>
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        {% for course in courses %}
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="{{course.thumbnail.url}}" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">{{course.category}}</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{{course.title}}</h1>
              <p class="leading-relaxed mb-3">{{course.desc}}</p>
              <div class="flex items-center flex-wrap ">
                <a href="/viewMaterial/{{course.id}}">
                  <button type="button" class="btn btn-info">View Material</button>
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</section>
{% endblock %}